### Importing Dependancies

In [11]:
import time
import pandas as pd
from bs4 import BeautifulSoup
from splinter import Browser
executable_path= {"executable_path": "./chromedriver.exe"}
browser= Browser("chrome", **executable_path, headless=False)

### Mars News

In [9]:
url= "https://mars.nasa.gov/news/"
browser.visit(url)
html= browser.html
soup= BeautifulSoup(html, 'html.parser')

In [10]:
time.sleep(5)
text= soup.find("div",class_="list_text")
#print(text)
#print("\n")
title= text.find("div",class_="content_title").text
print(title)
paragraph= text.find("div",class_="article_teaser_body").text
print(paragraph)

NASA's MRO Completes 60,000 Trips Around Mars
The orbiting spacecraft is also about to set a record for data relayed from the Martian surface.

### JPL Mars Space Images

In [7]:
jpl_url= "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [8]:
browser.click_link_by_id('full_image')
time.sleep(5)
jpl_html = browser.html

jpl_soup= BeautifulSoup(jpl_html, "html.parser")
image= jpl_soup.find("img", class_= "fancybox-image")["src"]

In [9]:
featured_img_url= "https://www.jpl.nasa.gov"+image
print(featured_img_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19808_ip.jpg

### Mars Twitter

In [10]:
mars_twitter= "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_twitter)
twitter_html= browser.html
twitter_soup= BeautifulSoup(twitter_html, 'html.parser')

In [11]:
twitter_weather= twitter_soup.find("div", class_="js-tweet-text-container").text.strip()
twitter_weather= twitter_weather.replace("\n"," ")
split_tweet=twitter_weather.split("pic.twitter")
mars_weather=split_tweet[0]
print(mars_weather)

InSight sol 167 (2019-05-17) low -100.5ºC (-148.9ºF) high -20.4ºC (-4.6ºF) winds from the SW at 4.7 m/s (10.6 mph) gusting to 13.5 m/s (30.3 mph) pressure at 7.50 hPa

### Mars Facts

In [12]:
facts_url= "https://space-facts.com/mars/"
browser.visit(facts_url)

In [14]:
List_df= pd.read_html(facts_url)
facts_df= List_df[0]
facts_df.columns=["Labels","Values"]
facts_df

                 Labels                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [14]:
Mars_Facts_HTML=facts_df.to_html()
print(Mars_Facts_HTML)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Labels</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [15]:
mars_Url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(mars_Url)

In [16]:
mars_soup= BeautifulSoup(browser.html, 'html.parser')
div= mars_soup.find('div', class_='results').findAll('div', class_='description')

In [17]:
Image_Links= []
for x in div:
    links= x.findAll('a')
    for y in links:
        Image_Links.append("https://astrogeology.usgs.gov"+y.get('href'))

In [18]:
hemisphere_image_urls = []

for f in range(len(Image_Links)):
    temp_dict={}
    browser.visit(Image_Links[f])
    
    Hemisphere_Soup= BeautifulSoup(browser.html,"html.parser")
    Links= Hemisphere_Soup.find('div', class_='downloads').findAll('a')
    
    temp_dict["title"]= Hemisphere_Soup.find('h2', class_='title').text
    temp_dict["img_url"]= Links[1].get('href')
    
    hemisphere_image_urls.append(temp_dict)
for x in range(len(hemisphere_image_urls)):
    print(hemisphere_image_urls[x])

{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif'}
{'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif'}
{'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif'}
{'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif'}

In [7]:
import urllib

urllib.request.urlretrieve("https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg", "./Images/Cerberus.jpg")
urllib.request.urlretrieve("https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg", "./Images/Schiaparelli.jpg")
urllib.request.urlretrieve("https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg", "./Images/Syrtis_major.jpg")
urllib.request.urlretrieve("https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg", "./Images/Valles_marineris.jpg")

urllib.request.urlretrieve("https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19808_ip.jpg", "./Images/featured_image.jpg")

('./Images/featured_image.jpg', <http.client.HTTPMessage at 0x16a94c824e0>)